numpy==1.26.4
torch==2.1.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

gymnasium==0.29.1
stable-baselines3==2.2.1
tensorboard
deuces==0.2.1
fastapi
uvicorn[standard]
pydantic
psycopg2-binary
python-dotenv